<div class="container">
  <div class="row" style="border-bottom: 1px solid #dddddd;">
    <div class="col-md-6">
      <span style="font-size: 2em;">news-repo</span>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs pull-right" id="nav-bar">
        <li>
          <a href="#/home">Home</a>
        </li>
        <li>
          <a href="#/mynews">My News</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-wrapper">
    <div ng-view></div>
  </div>
<!--   <div class="main-wrapper">
    <div ng-view></div>
  <div class="row panel" ng-show="newsRepoCtrl.isSelected(1)">
    <div class="col-md-12" style="margin-top: 10%;">
      <url-form categories="postCtrl.categories" hashtags="postCtrl.hashtags"></url-form>
    </div>
  </div>
  <div class="row panel" ng-show="newsRepoCtrl.isSelected(2)">
    <div class="col-md-12 text-center" style="margin-top: 10px">
      <div class="col-md-2"></div>
        <post-list></post-list>
      <div class="col-md-2"></div>
    </div>
  </div>
  </div> -->
</div>