<div class="col-md-10 text-left">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="FormCtrl.showForm = !FormCtrl.showForm">
        {{FormCtrl.showForm ? "Cancel" : "Add a Link"}}
      </button>
    </div>
    <div class="col-md-10">
      <url-form ng-show="FormCtrl.showForm"></url-form>
    </div>
  </div>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="category in urls">
      <div class="row" style="border-bottom: 1px solid #dddddd">
        <ul class="nav nav-tabs">
          <li role="presentation" class="folder-tabs"><a href ng-click="expand = !expand">{{category.$id | capitalized}}</a></li>
        </ul>
        <!-- <div class="col-md-2">
        <h4>Category:</h4>
        </div>
        <div class="col-md-10">
          <h4>{{key | capitalize}}<h4>
        </div> -->
      </div>
      <div ng-repeat="post in category" class="slide" ng-show="expand">
        <div class="row">
          <div class="col-md-2">
          <h4>Title:</h4>
          </div>
          <div class="col-md-8">
            <h4>{{post.title}}<h4>
          </div>
          <div class="col-md-1 pull-right">
            <a href class="pull-right"aria-label="Delete"ng-click="deletePost()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <h4>Link:</h4>
          </div>
          <div class="col-md-10">
            <h4><a href="{{post.url}}" target=_black>Click here</a></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p>Description:</p>
          </div>
          <div class="col-md-10">
            <p>{{post.description}}<p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <span class="label label-primary" ng-repeat="(hashtag, state) in post.hashtags" ng-show="state">{{hashtag | capitalized}}</span>
          </div>
        </div>
        <hr>
      </div>
    </li>
  </ul>
</div>